<template>
  <div id="app" class="mt-5">
    <ShopLayout>
      <template slot="product-list">
        <ProductList/>
      </template>
      <template slot="cart">
        <cart></cart>
      </template>
    </ShopLayout>
  </div>
</template>

<script>
import ShopLayout from '@/components/ShopLayout'
import ProductList from '@/components/ProductList.vue'
import Cart from '@/components/Cart.vue'

export default {
  name: 'App',
  components: {
    ShopLayout,
    ProductList,
    Cart
  }
  
}
</script>


